.block_testimonial {

	.inner {
		padding-bottom: $h4;
		padding-top: $h4;
		@include border($accent-med, top);
		@include border($accent-med, bottom);
	}
	margin-bottom: $h3;
}

// Block modules

@import 'block-intro';
@import 'block-list';
@import 'block-text';
@import 'block-text-image';
@import 'block-quoter';
@import 'block-related';