.block {
	margin-top: $h3;
	margin-bottom: $h3;

	&:nth-of-type(1) {
		margin-top: 0;
	}
}

// Block modules

@import 'block-intro';
@import 'block-list';
@import 'block-text';
@import 'block-textimage';
@import 'block-quoter';
@import 'block-related';
@import 'block-testimonial';