
.prompt-wrap {
	display: block; 
    margin: 0;
}

	.prompt {
		border-bottom: $accent-border; 
		position:relative; 
		
		span { 
			position: relative; 
			top: $sml; 
			left: $sml;
			padding: 0 $sml;
			background-color: $accent-vlight;
		}
	}

.block_related_page {
	
	.aside {
		@include inner($bp: large, $width: squish);
		background-color: $accent-vlight;
	}
}