.block_textimage {
	.image {
		@extend .col-md-9-np;
		
		img {
			@extend %img_highlight;
		}
	}
	.caption {
		@extend .col-md-3;
		border-top: $accent-border;
		border-left: $accent-border;
		border-right: $accent-border;
		padding-top: $base;
		padding-bottom: $base;
		background-color: #f9f9f9;

		@include bp(med) {
			border-left: none;
			border-right: none;
			background: none;
		}
	}
}
