
// ----
// General
// ----

.list {
	@extend %unstyle-list;
}



// ----
// Artifacts (equipment, formats, files)
// ----

.list-artifacts {}

	.artifact {
		@extend .inner-full;
	}
	
	.artifact-img {
		@extend .col-sm-4;

		img {
			@extend %center_block;
			border-top: 3px solid $accent-light;
			border-bottom: 3px solid $accent-light;
		}
	}

	.artifact-desc {
		@extend .col-sm-8;
		@include change-text-align(center, med, left);
	}

	.artifact-title {
		// margin-top: 0;
	}



// ----
// Icons/Text (usually connected pages, service options)
// ----

.list-icons {
	text-align: center;	
}

	.icon-desc {
		// @extend %meta;
		font-size: $sml;
		font-family: $sans-serif;
	}

