
%list-three {
	@extend .clearfix;
	@include make-lg-column((7/3));
	// @include make-lg-column-push(0.5);
}


%list-item-img {
	@include make-sm-column(3);
	@include make-lg-column(7, false);

	margin-bottom: $base;
	margin-top: $base;	
}

%list-item-desc {
	@include make-sm-column(4);
	@include make-lg-column(7, 0);

	@include change-text-align(left, large, center);
	p {
		// @extend %meta;
	}
}



.block_list {
	margin-bottom: $h2;
}

// ----
// General
// ----

.list {
	@extend %unstyle-list;
}



// ----
// Artifacts (equipment, formats, files)
// ----

.list-artifacts {
	@extend .clearfix;
}

	.artifact {
		@extend %list-three;

		&:last-child {
			border-bottom: none;
		}

		img {	
			@extend %center-block;
			// max-width: 80%;
		}
	}
	
	.artifact-img {
		@extend %list-item-img;	
	}

	.artifact-desc {
		@extend %list-item-desc;	
	}

	.artifact-title {
		// margin-top: 0;
	}



// ----
// Icons/Text (usually connected pages, service options)
// ----

.list-icons {
	@extend .clearfix;
}

.icon-item {
	@extend %list-three;
}

	.icon-item-img {
		@extend %list-item-img;
	}

	.icon-item-desc {
		@extend %list-item-desc;
	}

