
.block_related_page {

	.inner-squish {
		background-color: $accent-vlight;
		// border-top: 1px solid $accent-med;
		// border-bottom: 4px solid $accent-med;	
	}
	
}

.related-title {
	margin-top: $base;
}

.prompt-wrap {}

	.prompt {
		@include upperspace;
		position: relative;
		top: 4px;
		// @include make-lg-column(2);
		
		@include bp(large) {
			transform: rotate(-90deg);
			// IMPORTANT: Can't leave this like this
			transform-origin: left bottom;
			position: absolute;
			left: 0;
			top: 90px;
		}
		
		span {
			position: relative;
			padding: $sml/2 $sml;
			@include rotate($text-light, $accent-med);
			position: relative;
			z-index: $ztop;

			@include bp(large) {
				right: -$sml;
			}

			@include upperspace;
		}
	}
