{% set space = ' '%}
{% set replace_space = '_' %}

{% include 'partials/content-nav.twig' %}

{% for content in post.get_field('content') %}
    
    {% if content.acf_fc_layout == 'section' %}

        <section class="content" id="{{content.menu_item_title|replace({ (space): replace_space })}}">
            
            {% include 'headers/section_header.twig' %}
            
            {# Note: Block was probably a poor choice of word here because it conflicts with the 'blocks' in Twig. So I've changed it to 'blck' instead. #}
            {% for blck in content.blocks %} 
                {% set block_class = blck.acf_fc_layout %}
                {% if blck.acf_fc_layout == 'block_text' %}
                    {% include 'blocks/block-text.twig' %}   
                {% elseif blck.acf_fc_layout == 'block_list' %}
                    {% include 'blocks/block-list.twig' %}
                {% elseif blck.acf_fc_layout == 'block_textimage' %}
                    {% include 'blocks/block-textimage.twig' %}
                {% elseif blck.acf_fc_layout == 'block_related_page' %}
                    {% include 'blocks/block-related.twig' %}
                {% elseif blck.acf_fc_layout == 'block_blank' %}
                    {% include 'blocks/block-blank.twig' %}
                {% elseif blck.acf_fc_layout == 'block_testimonial' %}
                    {% include 'blocks/block-testimonial.twig' %} {# Note: this should be a global testimonial template, and not part of dividers any more! #}
                {% endif %}
            {% endfor %}

        </section> <!-- /.content -->
	
    {% elseif content.acf_fc_layout == 'divider' %}

        {% set display_class = content.display %}
        {% set div = content %} {# b/c using a different var in the template #}
            
        <aside class="divider display-{{display_class}}">
            {% if div.divider_type == 'testimonial' %}
                {% include 'dividers/div-testimonial.twig' %}
            {% elseif div.divider_type == 'cta' %}
                {% include 'dividers/div-cta.twig' %}
            {% elseif div.divider_type == 'related' %}
                {% include 'dividers/div-related.twig' %}
            {% endif %}
        </aside> <!-- /.divider-{{display_class}} -->

    {% endif %}


{% endfor %}


<section class="content" id="quick-quote">
    {% include 'partials/quick-quote.twig' %}
</section>