
<nav class="content-nav">
	<div class="contain">	
		<div class="inner-squish">
		
			<ul>
		        {% for item in post.get_field('content') %}
		        	<li id="toTopLink">Top</li>
		            {% if item.acf_fc_layout == 'section' %}
		                <li><a href="#{{item.menu_item_title|replace({ (space): replace_space })}}">{{item.menu_item_title}}</a></li>
		            {% endif %}
		        {% endfor %}
		    </ul>

		</div>
	</div>
</nav> <!-- /.content-nav -->