{% for content in post.get_field('content') %}
    
    {% if content.acf_fc_layout == 'section' %}

        <section class="content" id="{{content.menu_item_title}}">
            
            {% include 'partials/section-header.twig' %}

            {# Note: Block was probably a poor choice of word here because it conflicts with the 'blocks' in Twig. So I've changed it to 'blck' instead. #}
            {% for blck in content.blocks %} 
                {% set block_class = blck.acf_fc_layout %}
                {% if blck.acf_fc_layout == 'block_text' %}
                    {% include 'blocks/block-text.twig' %}   
                {% elseif blck.acf_fc_layout == 'block_list' %}
                    {% include 'blocks/block-list.twig' %}
                {% elseif blck.acf_fc_layout == 'block_textimage' %}
                    {% include 'blocks/block-textimage.twig' %}
                {% elseif blck.acf_fc_layout == 'block_related_page' %}
                    {% include 'blocks/block-related.twig' %}
                {% endif %}
            {% endfor %}

        </section> <!-- /.content -->
	
    {% elseif content.acf_fc_layout == 'divider' %}
        
        <section class="divider">
        
            {% for div in content.divider_content %}
                {% if div.acf_fc_layout == 'div_testimonial' %}
                    {% include 'dividers/div-testimonial.twig' %}
                {% elseif div.acf_fc_layout == 'div_cta' %}
                    {% include 'dividers/div-cta.twig' %}
                {% elseif div.acf_fc_layout == 'div_related_page' %}
                    {% include 'dividers/div-related.twig' %}
                {% endif %}
            {% endfor %}
            
        </section> <!-- /.divider -->
    
    {% endif %}

{% endfor %}