
<nav class="content-nav">
	{# <div class="contain"> #}
		
	<ul>
        {% for item in post.get_field('content') %}
            {% if item.acf_fc_layout == 'section' %}
                <li><a href="#{{item.menu_item_title|replace({ (space): replace_space })}}">{{item.menu_item_title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>	

</nav>