{% for content in post.get_field('content') %}


    {% if content.acf_fc_layout == 'section' %}
        <h1>Section</h1>
        {% for block in content.get_field('blocks') %}
            <h2>Block</h2>
            {# {% if content.acf_fc_layout == 'text_image_block' %}
                {% include 'partials/block-text-image.twig' %}
            {% elseif content.acf_fc_layout == 'blank' %}
                {{content.wysiwyg}}
            {% elseif content.acf_fc_layout == 'call_to_action' %} 
                {% include 'partials/block-cta.twig' %}
            {% endif %}
 #}
        {% endfor %}
        
	{% elseif content.acf_fc_layout == 'divider' %}
        <h1>Divider</h1>
        {# {% include 'partials/block-text.twig' %} #}

    {% endif %}

{% endfor %}