{% set fixed_image = true %}

<div class="hero hero-image hero-full-bkgd" style="background-image:url({{TimberImage(content.fixed_image).src}});">
	<div class="hero-wrap">
	{% if page_header == true %}
		{% include 'partials/hero-content.twig' %}
	{% endif %}
	</div> <!-- /.fixed-wrap -->
</div> <!-- /.fixed-image -->