<header>
    
    <h1 class="article-h1">{{post.title}}</h1>
    <h2>{{post.tagline}}</h2>
    <p>{{post.summary}}</p> 

    {% if post.header_display == 'image' %}
        {% include 'headers/header-image.twig' %}
    {% elseif post.header_display == 'video' %}
        {% include 'headers/header-video.twig' %}
    {% elseif post.header_display == 'text' %}
        {% include 'headers/header-text.twig' %}
    {% endif %}

</header>

