<div class="contain">
	<h1 class="page-title">{{post.title}}</h1>
	<div class="inner-squish">
		{% if post.category == 'Explore' %}
			<div class="meta text-center">Exoplore</div>
		{% endif %}
		<p class="page-tagline">{{post.summary}}</p>
		<div class="animated fadeInDown icon-down-open"></div>
	</div>
</div>