<h2 class="note-parent">Section</h2>

{% set mini_menu = content.menu_item_title %}
<p>
	<span class="note-submenu">{{mini_menu}}</span>
</p>

{% include 'partials/fixed-image.twig' %}

<h3 class="section-title">{{content.section_title}}</h3>
<p class="lead">{{content.lead}}</p>