{% extends "dividers/div.twig" %}

{% block content %}	
	
	{% for test in div.testimonial %}
		<blockquote>
			{{test.text}}	
		</blockquote>
		<p>{{test.person_name}} - <a href="{{test.source_link}}" target="blank">{{test.source}}</a></p>
	{% endfor %}
	
{% endblock %}