{% extends "dividers/div.twig" %}

{% block content %}
	<div class="inner rotate-med inner-pad text-center">
		<div>
			<p class="lead">{{div.cta_text}}</p>		
		</div>
		<div class="col-sm-5">
			<p class="text-right">
				<a href="{{div.cta_link_to_page ? div.cta_link_to_page : div.cta_raw_link}}" class="button-cta">{{div.cta_btn_text}}</a>
			</p>
		</div>
		<div class="col-sm-1"><p>or</p></div>
		<div class="col-sm-6">
			<p>(924) 828-4576</p>
		</div>
	</div>
{% endblock %}