{% extends "dividers/div.twig" %}

{% block content %}
	
	{% for page in div.related_content %}
		<h3>{{page.post_title}}</h3>
		<p>{{page.summary}}</p>
		<a href="{{page.guid}}" class="link-more">Read more &rarr;</a>
	{% endfor %}
	
{% endblock %}