{% extends "dividers/div.twig" %}

{% block content %}
	<h3>testimonial</h3>
	{# {% if testi %}		 #}
    {% set test = TimberPost(div.testimonial) %}
	
	{# {% if test %} #}
		{# hello #}
		{{TimberPost(content.div.testimonial).text}}
	{# {% endif %} #}
	{# {% endif %} #}
{% endblock %}