{% extends "dividers/div.twig" %}

{% block content %}
	<p>Testimonial</p>
	{# {% if testi %}		 #}
    {% set test = TimberPost(div.testimonial) %}
	
	{# {% if test %} #}
		{# hello #}
		{{test.text}}
	{# {% endif %} #}
	{# {% endif %} #}
{% endblock %}