<section class="divider">
	<div class="content-contain">
	
		<h2 class="note-parent">Divider</h2>
		{% block content %}
			<p>Nothing in this divider</p>
		{% endblock %}
	
	</div>
</section> <!-- /.divider -->

