
{% set div = content %}

<div class="contain {{divider_class}}">
	{% if div.display == image_overlay %}
		{# {% include 'partials/fixed-image.twig' %} #}
		Heloo
	{% endif %}
	{# <h2 class="note-parent">Divider</h2> #}
	{% block content %}
		<p>Nothing in this divider</p>
	{% endblock %}

</div>
