
{% set div = content %}

{% if div.display == image_overlay %}
	{% include 'partials/fixed-image.twig' %}
{% endif %}

<div class="contain {{divider_class}}">
	{# <h2 class="note-parent">Divider</h2> #}
	{% block content %}
		<p>Nothing in this divider</p>
	{% endblock %}

</div>
