

// ---
// Global
// ---

* {
	box-sizing: border-box;
}

body {
	background-color: $body-bkgd;
}

img {
	max-width: 100%;
}



//---
// Layout
// ---

.content-contain {
	@extend %container;
}

.content-inner {
	@extend %row;	
}




// ---
// Typography 
// ---

.lead {
	font-size: $h4;
	text-align: center;
}

.section-title {
	text-align: center;
}




// ---
// Components 
// ---

.fixed-image {

	// TODO:
	// Won't need this once the $context and MQs are in <head>
	background-size: 100% auto;
	background-repeat: no-repeat;

	min-height: 300px;


	@include bp(small) {
		min-height: 600px;
	}

	@include bp(med) {
		min-height: 600px;		
	}

	@include bp(large) {
		background-attachment: fixed; 
		background-position: center center;
		
		min-height: 800px;
	}

	position: relative;	
	z-index: 999;
}

.content {
	position: relative;
	z-index: $zmid;
}


// .block-title {
// 	// @extend %upperspace;		
// 	// text-shadow: 1px 1px 0 $text-dark;
// 	// text-shadow: 2px 2px 0 rgba($text-dark, 0.4);
// 	border-bottom: $accent-border; 
// 	position:relative; 
// 	margin-bottom: $h1;
	

// 	@include bp(med) {
// 		font-size: $h1;
// 	}

// 	span { 
// 		position: relative; 
// 		top: $h5;
// 		@include bp(med) {
// 			top: $h3; 
// 		}
		
// 		padding: 0 $h4 0;
// 		background-color: $body-bkgd;
// 	}
// }

// .block-title-wrap {
// 	display:block; 
//     margin: 0;
// }


// // Utility

// .special {
// 	color: $accent-med;
// }

