

// ---
// Global
// ---

* {
	box-sizing: border-box;
}

body {
	background-color: $body-bkgd;
}

img {
	max-width: 100%;
}

ul, ol {
	margin: 0;
	padding: 0;
}


//---
// Layout
// ---

// .content-contain {
// 	@extend %container;
// }

// // .row {
// // 	@include make-row;
// // }




// ---
// Typography 
// ---

.lead {
	font-size: $h4;
	font-family: $lead-font;
	// margin-bottom: 0;
	// text-align: center;
}

.section-title {
	// text-align: center;
}

.page-tagline {
	@extend .lead;
}

nav a {
	font-family: $nav-font;
}





// ---
// Components 
// ---

.fixed-image {
	// position: relative;
	margin-top: -25px;
	// TODO:
	// Won't need this once the $context and MQs are in <head>
	// background-size: 100% auto;
	// background-repeat: no-repeat;

	// min-height: 800px;
	padding-top: 35%;
	
	// @include bp(small) {
	// 	min-height: 600px;
	// }

	// @include bp(med) {
	// 	min-height: 600px;		
	// }

	// @include bp(large) {
		// background-attachment: fixed; 
		background-position: center top;
		background-size: cover;
		
	// 	min-height: 800px;
	// }

	// position: relative;	
	// z-index: 999;
	width: 100%;
	height: auto;

}

.film-inner {
	background-color: rgba($text-dark, 1);
	color: $text-light;
}

.content {
	position: relative;
	z-index: $zmid;
}

.film-strip {
	width: 100%;
	border-image: url(../img/svgs/film-top.svg) 50% 25% 50% 25% round;  
	// border-image-slice: 25;
	border-width: 0 0 25px 0;
}