

// ---
// Global
// ---

* {
	box-sizing: border-box;
}

body {
	background-color: $body-bkgd;
}

img {
	max-width: 100%;
}

ul, ol {
	margin: 0;
	padding: 0;
}



//---
// Layout
// ---

// .content-contain {
// 	@extend %container;
// }

// // .row {
// // 	@include make-row;
// // }




// ---
// Typography 
// ---

.lead {
	font-size: $h4;
	font-family: $lead-font;
	// margin-bottom: 0;
	// text-align: center;
}

.section-title {
	// text-align: center;
}

.page-tagline {
	@extend .lead;
}

nav a {
	font-family: $nav-font;
}





// ---
// Components 
// ---


.fixed-image {
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;

	@include bp(large) {
		background-attachment: fixed;
		background-position: center;
	}

	.section-header & {
		@include bp(large) {
			padding-top: percentage(1.5/3);
		}
		
		@include bp(xl) {
			padding-top: percentage(1.25/3);	
		}
	}

}

.fixed-wrap {
	padding-top: percentage(1/3);

	@include bp(large) {
		padding-top: percentage(1.5/3);
	}
	
	@include bp(xl) {
		padding-top: percentage(1.25/3);	
	}

	.page-header & {
		// padding-top: percentage(1/3);
		// @include bp(med) {
			padding-top: percentage(0.5/3);
		// }
	}

	color: $text-light;
	// background-image: linear-gradient(to top, $text-dark, rgba(0,0,0,0));
	
	.page-header & {
		background-image:
	    radial-gradient(
			ellipse at 20% center,
			rgba($text-dark, 0) 0,
			$text-dark
	    );
	}
	
	padding-bottom: $h2;
	padding-top: percentage(2/3);
	@extend .clearfix;
}

// .section-content {
// 	position: relative;
// 	z-index: $zmid;
// }

// %film-strip-base {
// 	width: 100%;
// 	border-width: 25px 0 0 0;
// }

// .film-strip {
// 	// @extend %film-strip-base;	
// 	// border-image: url(../img/svgs/film-top.svg) 100% 25% 100% 25% round;
// }

// .film-strip-white {
// 	@extend %film-strip-base;	
// 	border-image: url(../img/svgs/film-top-white.svg) 50% 25% 50% 25% round; 
// }