
.site-footer {
	font-family: $sans-serif;
	@include border($color: $accent-light, $width: 4px, $side: top);
	
	ul {
		@extend %unstyle-list;
	}

	li {
		@include font-size(sml);
	}
}

	.colophon {
		@include rotate($text-light, $alert-info);
		p {
			@include font-size(xsml);	
		}
		padding-bottom: $base;
	}

	.creds {
		@include make-md-column(3.5, false);
	}
	
	.copyright {
		@include make-md-column(3.5, false);
		text-align: right;
	}

.menu-footer {
	
	a {
	}
}

.widget {
	@include make-md-column((7/4));
}