.site-header {
	// position: fixed;
	// color: $text-light;
	// z-index: $ztop;
	// top: 0;
	width: 100%;
	
	padding-bottom: $xsml;
	// .contain {
	// 	display: table !important; 	
	// }
	
	
	// background-color: $text-dark;
	// @include rotate();
	// position: relative;
	// position: absolute;

	// padding-top: $xsml/2;
	// padding-bottom: $xsml/2;

	@include bp(med) {
		// background-color: rgba($text-dark, 1);
	}
	border-bottom: 3px solid $alert-info;
}

.header-brand {
	@include make-xs-column(6.5, false);
	@include make-md-column(2.5, false);
	display: table-row !important;
}

.header-logo img {
	max-height: 30px;
	padding-top: $xsml;
	@include bp(med) {
		max-height: 50px;
	}
	// padding-bottom: $xsml/3;
}

.header-tag {
	// @include make-xs-column(4.5, false);
	// @include make-xs-column(4, false);
	@include meta;
	font-size: $sml/1.25;
	padding-left: $base;
	padding-top: $sml/2;
}

.header-tag, 
.header-logo {
	display: table-cell !important;
	vertical-align: middle !important;
}

.header-nav-link {
	@include make-xs-column(0.5, false);
}

.header-nav {
    @include make-xs-column(7, false); 
    @include make-md-column(4.5, false);
}
