.site-header {
	border-bottom: 3px solid $alert-info;
	@include rotate();
 	position: relative;
 	z-index: $ztop;

 	a {
 		color: $text-light;
 	}
}

.header-brand {
	@include make-xs-column(6.5, false);
	@include make-md-column(2.5, false);
	display: table-row !important;
}

.header-logo img {
	max-height: 40px;
	padding-top: $xsml;

	@include bp(med) {
		max-height: 50px;
	}
	// padding-bottom: $xsml/3;
}

.header-tag {
	// @include make-xs-column(4.5, false);
	// @include make-xs-column(4, false);
	@include meta;
	font-size: $sml/1.25;
	padding-left: $base;
	padding-top: $sml/2;
}

.header-tag, 
.header-logo {
	display: table-cell !important;
	vertical-align: middle !important;
}

.header-nav-link {
	@include make-xs-column(0.5, false);
	position: relative;
}

.header-nav {
    @include make-xs-column(7, false); 
    @include make-md-column(4.5, false);
}
