
// General menu styles

.menu-items {
    margin: 0;
    padding: 0;
    // text-align: center;
}

.menu-item {
    // text-align: center;
    @extend %unstyle-list;
    
    a {
        padding: $sml;
        color: $text-dark;
    }

    margin: $sml/2 0;
    // position: relative;
}





// ----
// Header Menus
// ----


// Toggle nav, courtesy Brad Frost
// http://codepen.io/bradfrost/pen/sHvaz
// I simplified some, though


// Main menu

.header-nav,
.subnav {
    overflow: hidden;
    max-height: 0;

    &.open {
        max-height: 55em;
    }
}

.header-nav {
    position: relative;
}

.menu-main {

    li {
        @include border($text-med, bottom);
        &:last-child {
            border-bottom: none;
        }
    }

    a {
        display: block;
        font-weight: 700;

        @include bp(med) {
            display: inline-block;
        }

        &:hover {
            color: $accent-light;
        }
    }
}

    .subnav {
        background-color: $accent-med;
        a {
            font-weight: 400;
            color: $text-light;
            @extend %upperspace;
        }
    }

.menu-item-complex {
    @extend .clearfix;
    background-color: $alert-info;
    text-align: center;

    a {
        color: $text-light;
    }
}

.item-split {
    @include make-xs-column(3.5, false);
}

.menu-item-cta {
    a {
        padding-top: 0;
        @extend .button-success;

    }
}


    .has-subnav a {
        // color: $alert-info;
    }

    .header-nav li.has-subnav > a:after {
        content: '\25bc';
        padding-left: $sml/2;
        color: $accent-med;
        font-size: $sml*0.75;
    }

    .header-nav li.has-subnav > a.open:after {
        content: '\25b2';
    }
        


// Hamburger Menu Icon
// http://codepen.io/lexstefan/pen/mwtcn

.menu-link {
    margin-top: $base;

    a {
        float: right;
    }

    span {
        transition: all 0.25s ease-in-out;
        width: 30px;
        border-radius: 1px;
        height: 3px;
        display: block;
        background: $text-dark;
        margin: 0 0 7px 0;
    }
}

    .menu-link span:last-child {
        margin:0;
    }
    
    .menu-link.open span:nth-of-type(1) {
        transform: rotate(45deg);
        margin: 11px 0 0 0;
    }

    .menu-link.open span:nth-of-type(2) {
        opacity:0;
    }

    .menu-link.open span:nth-of-type(3) {
        transform: rotate(-45deg);
        margin: -13px 0 0 0;
    }


// Remove the burger

@include bp(med) {
    .menu-link {
       display: none;
    }

    .js .header-nav {
        max-height: none;
    }

    .header-nav {
        overflow: visible;
    }

    .subnav {
        background-color: transparent;
        // @include border($alert-info, top);
        position: absolute;
        z-index: $ztop*10;
        top: $h1;
        right: 0;

        &.open {
            overflow: visible;
        }

        a {
            padding-top: 0;
            font-size: $sml;
            color: $text-light;
            // background-color: $alert-info;
        }
    }


    .menu-items {
        text-align: right;

        li {
            // &:not(.menu-item-complex) {    
                display: inline-block;
                border: 0;
            // }

            &:last-child {
                padding-right: 0;
            }

            &.menu-item-complex {
                display: none;
            }
        }

        a {
            border: 0;
            padding-bottom: 0;
        }
    }
}




// ----
// Content Nav 
//----


.content-nav {
    @extend %horizontal-list;
    @include rotate($bkgd: $text-dark);
    text-align: center;

    li {
        transition: all 0.3s ease-in-out;
    }

    a {
        padding: $sml/2 $base;
        display: inline-block;
        color: $text-light;
        @extend %meta;
        @extend %upperspace;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
        // This should be able to be an extend, but the margin is being overwritten somewhere
        @include make-row();
    }

}

    .content-nav-active {
        position: relative;
        
        a {
            transition: all 0.25s ease-in-out;
            border-color: $accent-med;
            color: $accent-med;
        }
    }

    .stuck {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $ztop;
    }

    .top-link {
        background-color: $text-dark;
        width: 0;
        position: relative;

        a {
            padding: 0;
        }
    }

        .shape-arrow-up {
            fill: $text-light;
            z-index: $ztop*2;
            height: $base;
            width: $base;
        }





// ----
// Footer Nav 
//----


