
// General menu styles

.menu-items {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
    }

    a {
        display: block;

        @include font-size(base);
        padding: $sml 0;
        border-bottom: 1px solid $alert-info;

        @include bp(med) {
            @include font-size(sml);
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

}

    .menu-item {
        @extend %unstyle-list;
    }



// ----
// Header Menus
// ----


// Toggle nav, courtesy Brad Frost
// http://codepen.io/bradfrost/pen/sHvaz
// I simplified some, though


// Main menu

.header-nav,
.subnav {
    overflow: hidden;
    max-height: 0;

    &.open {
        max-height: 55em;
    }
}

.header-nav {
    position: relative;
}

.menu-main {

    a {
        @include meta;
        @include upperspace;
        color: $text-dark;

        display: block;
        font-weight: 700;

        @include bp(med) {
            display: inline-block;
        }

        &:hover {
            color: $accent-light;
        }
    }

    margin: $sml/2 0;
    
    @include bp(med) {
        text-align: right;
        
        li {
            @include border($text-med, bottom);
            margin-right: $sml;

            display: inline-block;
            border: 0;

            &:last-child {
                padding-right: 0;
                margin-right: 0;
            }

            &.menu-item-complex {
                display: none;
            }

            &:last-child {
                border-bottom: none;
            }
        }
        
    }
}

    .subnav {
        background-color: $alert-info;
        a {
            font-weight: 400;
            color: $text-light;
            border-color: $text-dark;
            // @include upperspace;
        }
    }

.menu-item-complex {
    @extend .clearfix;
    background-color: $alert-info;
    text-align: center;

    a {
        color: $text-light;
    }
}

.item-split {
    @include make-xs-column(3.5, false);
}

.menu-item-cta {
    a {
        // padding-top: 0;
        @extend .btn-success;

    }
}


    .has-subnav a {
        // color: $alert-info;
    }

    .header-nav li.has-subnav > a:after {
        content: '\25bc';
        padding-left: $sml/2;
        color: $accent-med;
        font-size: $sml*0.75;
    }

    .header-nav li.has-subnav > a.open:after {
        content: '\25b2';
    }
        


// Hamburger Menu Icon
// http://codepen.io/lexstefan/pen/mwtcn

.menu-link {

    margin-top: $sml;

    a {
        float: right;
    }

    span {
        transition: all 0.25s ease-in-out;
        width: 25px;
        border-radius: 1px;
        height: 3px;
        display: block;
        background: $text-light;
        margin: 0 0 4px 0;
    }
}

    .menu-link span:last-child {
        margin:0;
    }
    
    .menu-link.open span:nth-of-type(1) {
        transform: rotate(45deg);
        margin: 8px 0 0 0;
    }

    .menu-link.open span:nth-of-type(2) {
        opacity:0;
    }

    .menu-link.open span:nth-of-type(3) {
        transform: rotate(-45deg);
        margin: -10px 0 0 0;
    }


// Remove the burger

@include bp(med) {
    .menu-link {
       display: none;
    }

    .js .header-nav {
        max-height: none;
    }

    .header-nav {
        overflow: visible;
    }

    .subnav {
        background-color: transparent;
        position: absolute;
        z-index: $ztop*10;
        top: $h1;
        right: 0;

        &.open {
            overflow: visible;
        }

        a {
            padding-top: 0;
            font-size: $sml;
            color: $text-light;
        }
    }
}




// ----
// Content Nav 
//----


.content-nav {

    ul {
        display: none;    

        @include bp(med) {
            display: block;
        }
    }

    border-bottom: 3px solid $alert-info;
    
    @include horizontal-list;

    @include rotate($bkgd: $text-dark);
    text-align: center;

    li {
        transition: all 0.3s ease-in-out;
        
        &:hover {
            background-color: darken($alert-info, 20%);
        }

        &:active {
            background-color: darken($alert-info, 50%);
        }
    }

    a {
        padding: $sml/2 $base;
        display: inline-block;

        color: $text-light;
        @include meta;
        @include upperspace;
    }

} // .content-nav


    li.content-nav-active {
        position: relative;
        background-color: $alert-info;

        &:hover {
            background-color: $alert-info;
        }

        a {
            transition: all 0.25s ease-in-out;
        }
    }

    .top-link {
        width: 0;

        a {
            padding: 0;
        }
    }

    .top-link-top {
        background-color: $text-dark;

        // You pixel pusher, you.
        .shape {
            position: relative;
            top: 5px;
        }
    }

    .top-link-bottom {
        position: fixed;
        bottom: 5px;
        right: 5px;
        z-index: $ztop;

        width: 50px;
        display: none;

        padding-top: $xsml/3;
        padding-bottom: $xsml/3;
        
        @include button($alert-info);

        a {    
            display: block;
            margin: 0 auto;
        }

        // padding-top: $xsml;

        @include bp(large) {
            opacity: 0;
        }

         .shape-arrow-up {
            display: block;
            margin: 0 auto;
         }

    }

        .shape-arrow-up {
            fill: $text-light;
            height: $base;
            width: $base;
        }





// ----
// Footer Nav 
//----

.menu-footer {

    .menu-items {
        // This is a little nesty...
        @include bp(med) {
            text-align: left;

            a {
                padding: 0;
            }
        }
    }
}
