
nav[role="navigation"] {
    font-family: $nav-font;
}


// General menu styles

.menu-items {
    margin: 0;
    padding: 0;
    // text-align: center;
}

.menu-item {
    // text-align: center;
    @extend %unstyle-list;
    
    a {
        padding: $sml;
    }

    margin: $sml/2 0;
    position: relative;

    @include bp(med) {
        padding-right: $base;
    }
}



// ----
// Header Menus
// ----


// Toggle nav, courtesy Brad Frost
// http://codepen.io/bradfrost/pen/sHvaz
// I simplified some, though


// Main menu

.header-nav,
.subnav {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-out;

    &.open {
        max-height: 55em;
    }
}

.subnav {
    a {
        font-weight: 400;    
    }

    background-color: $text-med;
}

.menu-main {

    li {
        @include border(lighten($text-dark, 20%), bottom);
        &:last-child {
            border-bottom: none;
        }
    }

    a {
        display: block;
        
        @include bp(med) {
            display: inline-block;
        }
        
        @extend %h5;
        color: $text-light;
    }
}

.menu-item-complex {
    @extend .clearfix;
    background-color: $alert-info;
    text-align: center;
}

.item-split {
    @include make-xs-column(3.5, false);

    // &:first-child {
    //     @include border($accent-light, right);
    // }
}

.menu-item-cta {
    a {
        color: $alert-success;
        font-weight: 700;
    }
}

    .header-nav li.has-subnav > a:after {
        content: '+';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        font-size: $h4;
        padding: $sml/1.5 $sml;
        color: $accent-med;
    }

    .header-nav li.has-subnav > a.open:after {
        content: "-";
    }
        
        


// Hamburger Menu Icon
// http://codepen.io/lexstefan/pen/mwtcn

.menu-link {
    margin-top: $base;

    a {
        float: right;
    }

    span {
        transition: all 0.25s ease-in-out;
        width: 30px;
        border-radius: 1px;
        height: 3px;
        display: block;
        background: $text-light;
        margin: 0 0 7px 0;
    }
}

    .menu-link span:last-child {
        margin:0;
    }
    
    .menu-link.open span:nth-of-type(1) {
        transform: rotate(45deg);
        margin: 11px 0 0 0;
    }

    .menu-link.open span:nth-of-type(2) {
        opacity:0;
    }

    .menu-link.open span:nth-of-type(3) {
        transform: rotate(-45deg);
        margin: -13px 0 0 0;
    }


// Remove the burger

@include bp(med) {
    .menu-link {
       display: none;
    }

    .js .header-nav, 
    .js .subnav {
        max-height: none;
    }

    .subnav {
        background-color: $text-dark;
        @include border($alert-info, top);
        a {
            padding-top: 0;
            font-size: $sml;
        }
    }

    .has-subnav > a {
        display: none;
    }

    .menu-items {
        text-align: right;

        li {
            &:not(.menu-item-complex) {    
                display: inline-block;
                border: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            &.menu-item-complex,
            &.menu-item-cta {
                display: none;
            }
        }

        a {
            border: 0;
            padding-bottom: 0;
        }
    }
}




// ----
// Content Nav 
//----


.content-nav {
    @extend %horizontal-list;
    @include rotate($bkgd: $alert-danger);
    text-align: center;

    li {
        transition: all 0.3s ease-in-out;
    }

    a {
        padding: $sml/2 $base;
        display: inline-block;
        color: $text-light;
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
        // This should be able to be an extend, but the margin is being overwritten somewhere
        @include make-row();
    }

}

    .content-nav-active {
        background-color: $accent-med;
    }

    .stuck {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $ztop;
    }

    .top-link {
        width: 0;
        position: relative;

        a {
            padding: 0;
        }
    }

        .shape-arrow-up {
            fill: $text-light;
            z-index: $ztop*2;
            height: $base;
            width: $base;
        }





// ----
// Footer Nav 
//----


