
.page-header {
	text-align: center;
	border-bottom: 3px solid $alert-info;
	background-color: $text-dark;
}

	.page-title {
		position: relative;
		@include bp(med) {
			font-size: $h1*1.5;	
		}
		
		// text-transform: uppercase;
		text-shadow: 2px 1px 1px $text-dark;
	}


.page-body {
	position: relative;
	z-index: $zmid;
	background-color: $body-bkgd;
}

