

.section-header {
	// text-align: center;
}

	.section-title {
		margin-top: $h1;
	}


.content {
	// padding-top: $base;
	padding-bottom: $base;
}

	.content-active {
		background-color: $accent-med;
	}

.focus-text {
	@include make-md-column(8);
	@include make-lg-column(6, false);
}




// ----
// Components
// ----
