
.section-header {
	// margin-top: $h2;
	// text-align: center;

}

.section-title {
	margin-top: $h2;
	// border-bottom: $accent-border; 
	position:relative; 
	
	// span { 
	// 	position: relative; 
	// 	top: $sml/1.5; 
	// 	padding: 0 $sml 0 0;
	// 	background-color: $body-bkgd;
	// }
}

.section-content {
	position: relative;
	padding-bottom: $h2;
}

	.content-active {
		background-color: $accent-med;
	}

