{% extends "page.twig" %}


{% block content %}
	<header class="page-header" id="pageTop">
		<div class="hero">
			
			<div class="hero-wrap">
				<h1 class="page-title">Whoopsie.</h1>
				<p class="page-tagline">Page not found!</p>
			</div> <!-- /.hero-wrap -->

		</div> <!-- /.hero-image -->

	</header>

	<section class="section-content">
		
	</section>
{% endblock %}