{% extends 'base.twig' %}

{% block front_page_cta %}
	<div class="site-cta">
		<div class="contain">
			<p>Welcome! We've got a new site and hope you like it. Email us or call when you need help: 222 222 222!</p>
			<a class="site-cta-close icon-cross" href="#"></a>
		</div>
	</div>
{% endblock %}

{% block content %}
	{% endblock %}