{% extends 'base.twig' %}
{% set is_home = true %}

{% block header %}
{% endblock %}


{% block content %}

	
{# 	<div class="hero hero-video">
		{% include 'partials/spinner.twig' %}
		
		<video autoplay loop class="hero-full-bkgd">
			<source src="{{post.video}}" media="screen and (min-width: 830px)" type="video/mp4">
		</video>

		<div class="hero-wrap">
			{% include 'partials/hero-content.twig' %}
			<img class="home-logo" src="{{site.url}}/wp-content/themes/dijifi-theme/assets/img/content/logo.png" alt="">
		</div> <!-- /.hero-wrap -->

	</div> <!-- /.hero-video --> #}
	<header class="site-header">
		{% include 'headers/site_header.twig' %}	
	</header>
	
	{% include 'partials/simple_content-logic.twig' %}
{% endblock %}