{% extends "base.twig" %}

{% block content %}

	{% include 'partials/complex_content-logic.twig' %}

	<section class="content" id="quick-quote">
	    {% include 'partials/quick-quote.twig' %}
	</section>
	
{% endblock %}