{% extends "single.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				
				{% include 'partials/header-logic.twig' %}
				
				<header>
				
				</header>

				<div class="article-body">
					{% include 'partials/content-logic.twig' %}
				</div>

			</section>
		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}
