{% extends "base.twig" %}

{% block content %}

	{% include 'partials/content-logic.twig' %}
	<div class="contain">

		<div class="inner box">
			<h3>.contain</h3>
			<div class="row">
				<div class="col-sm-3 box">.col-sm-3</div>
				<div class="col-sm-6 box">.col-sm-4</div>
			</div>
		</div>

		<div class="inner-squish box">
			<h3>.contain-squish</h3>
		</div>
	
		<div class="inner-full box">
			<h3>.contain-full</h3>
			<div class="row">
				<div class="col-sm-2-np box">
					<h3>.col-sm-2</h3>
				</div>	
				<div class="col-sm-2 box">
					<h3>.col-sm-2</h3>
				</div>	
				<div class="col-sm-2 box">
					<h3>.col-sm-2</h3>
				</div>	
			</div>
		</div>
		
	</div>

	
{% endblock %}