
{# <h2 class="note-header">Image Header</h2> #}

{% set content = post %}

{% include 'partials/fixed-image.twig' %}

<div class="content-contain">
	<div class="inner">
	
		<div class="page-summary">
			<h1>{{post.title}}</h1>
			<p class="lead">{{post.tagline}}</p>
			{# <div class="inner"> #}
			<p>{{post.summary}}</p>	
			{# </div> #}
		</div>	
	
	</div>	
</div>
