
{# <h2 class="note-header">Image Header</h2> #}


<div class="fixed-image" style="background-image:url({{TimberImage(post.image).src}});"></div>

<div class="content-contain">
	
	<h1>{{post.title}}</h1>
	<p class="lead">{{post.tagline}}</p>
	<div class="inner">
		<div class="page-summary">
			<p>{{post.summary}}</p>			
		</div>
	</div>
	
</div>
