{% extends "headers/page_header.twig" %}

{% block content %}

	<video src="{{post.video}}" autoplay loop></video>
	<div class="video-header-content">
		<svg class="shape shape-logo"><use xlink:href="#shape-logo" /></svg>
		{{site.description}}

		<div class="inner-squish text-center">
			<p class="lead">{{post.summary}}</p>			
		</div>
		                    
	</div>

{% endblock %}