{% extends "headers/page_header.twig" %}

{% block content %}

<div class="hero hero-video">
	
	<video autoplay loop class="hero-full-bkgd">
		<source src="{{post.video}}" media="screen and (max-width: 1088px)" type="video/mp4">
	</video>

	<div class="hero-wrap">
		{% include 'partials/hero-content.twig' %}
	</div> <!-- /.hero-wrap -->

</div> <!-- /.hero-image -->

{% endblock %}