<header class="section-header">
	
	{% if content.fixed_image_tf == 'true' %}
		{% include 'partials/fixed-image.twig' %}
	{% endif %}
	
	<div class="contain">
		<div class="inner-squish">		
		
			<h3 class="section-title">{{content.section_title}}</h3>
			<p class="lead">{{content.lead}}</p>
		</div>
		
	</div> <!-- /.content-contain -->

</header> <!-- /.section-header -->
