<header class="section-header">
	
	{% if content.fixed_image_tf == 'true' %}
		{% include 'partials/fixed-image.twig' %}
	{% endif %}

	<div class="contain">
		<div class="inner-squish">
			
			<div class="section-title-wrap">	
				<h3 class="section-title"><span>{{content.section_title}}</span></h3>
			</div>
			<p class="lead">{{content.lead}}</p>

		</div>
	</div>

</header> <!-- /.section-header -->