<div class="header-brand">	
	<div class="header-logo">
		<a href="/" title="{{site.name}}" rel="home">
			<img class="shape-logo" src="{{site.url}}/wp-content/themes/dijifi-theme/assets/img/content/logo-dark.png" alt="DiJiFi Logo">
		</a>	
	</div>
	<p class="header-tag">{{site.description}}<br><span class="sml"><a href="mailto:info@dijifi.com">info@dijifi.com</a> &bull; (646) 519-2447</span></p>
</div> <!-- /.header-brand -->

<div class="header-nav-link menu-link">	
	<a href="#menu">
		<span></span>
		<span></span>
		<span></span>
	</a>    
</div> <!-- /.menu-link -->