<div class="col-xs-4-np col-md-3-np">
	<a class="header-logo" href="/" title="{{site.name}}" rel="home">
		<svg class="shape shape-logo"><use xlink:href="#shape-logo" /></svg>
	</a>
</div>

<div class="menu-link col-xs-8-np" style="margin-top: 1rem">
	<a href="#menu">
		<span></span>
		<span></span>
		<span></span>
	</a>    
</div> <!-- /.menu-link -->

<nav id="menu" class="menu-main col-xs-12-np col-md-9-np" role="navigation">	
	<ul class="menu-items">
		{% for item in main_nav.items %}
			<li class="{{item.classes | join(' ')}}">
				<a href="{{item.link}}">{{item.title}}</a>
			</li>
		{% endfor %}
	</ul>
</nav><!-- /#menu -->