

// testing out for overhang mixin
.stretch {
	@include make-row-stretch(1);

	&-left {
		@include make-row-stretch(1, left);
	}

	&-right {
		@include make-row-stretch(1, right);
	}
}

.squish {
	@include make-row-squish();
	

	&-left {
		@include make-row-squish(1, left);
	}

	&-right {
		@include make-row-squish($dir: right);
	}
}


	



// Need a good place for these, maybe _page.scss in site/ ?

.page-header {
	// @include change-text-align(default, small, center);
	
}

.page-summary {
	@extend %full_at_base;
	@include make-lg-column(6);
	@include make-lg-column-push(2);
}


// Just for prototyping

.padded-sides {
	padding: 0 $h3;
}

.no-margin {
	margin: 0;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}



.logo {
	svg {
		display: block;
		margin-left: 25%;
	}
}



.button-block {
	@extend %btn-block;
}

// Nav

.menu-sub-items {
	li {
		text-align: left;
	}
}


// Header


.page-header {
	.fixed-image {
		top: 0;
	}
}