
.home {
	.page-title {
		line-height: 1.2;
	}

	.page-tagline {
		padding-bottom: $h3;
	}
}

.site-header .contain {
	max-width: $screen-xl;
}


.fourth {
	@include make-sm-column(7/2);
	@include make-md-column(7/4);
}


// Just for prototyping

.padded-sides {
	padding: 0 $h3;
}

.no-margin {
	margin: 0;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.logo {
	svg {
		display: block;
		margin-left: 25%;
	}
}

.button-block {
	@extend %btn-block;
}

// Nav

.menu-sub-items {
	li {
		text-align: left;
	}
}



// Bad bad
// TODO - bad news bears lara
// Bad bad

.current-menu-item a {
    color: $accent-light !important;
}



.home-logo {
	position: relative;
}