
// Blocks

.block_textimage {
	// img {
	// 	width: 100%;
	// }
}


.border-tb {
	border-top: $accent-border;
	border-bottom: $accent-border;
}



// .section-header {
// 	text-align: center;
// }

// Where should this go



// Need a good place for these, maybe _page.scss in site/ ?

.summary {
	// font-family: $lead-font;
}


// Just for prototyping

.padded-sides {
	padding: 0 $h3;
}

.no-margin {
	margin: 0;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.logo {
	svg {
		display: block;
		margin-left: 25%;
	}
}

.button-block {
	@extend %btn-block;
}

// Nav

.menu-sub-items {
	li {
		text-align: left;
	}
}


// Header


.page-header {
	text-align: center;
}