// @import 'config/bs-grid';


.svgsprites {
	display: none;
}

.text-justify {
	text-align: justify;
}

.note {
	font-style: italic;

	&-header {
		background-color: lighten($accent-med, 20%);
	}

	&-parent {
		background-color: lighten($accent-med, 30%);
	}

	&-child {
		background-color: lighten($accent-med, 40%);
		@extend %h5;
	}

	&-submenu {
		background-color: lighten($accent-light, 20%);
		display: inline-block;
		margin: 0;
	}
}

.rotate {
	@include rotate($text-light, transparent);
}