@import 'config/all'; // Mixins, variables, and tools that do not output code
@import 'elements/all'; // Roots elements

@import 'site/all'; // Main site components

// Order form specific styles
// Note that these styles are not ideal at all - 
// someone else created the order form, and my role
// was to give it a nicer skin to match 
// the rest of the site which I redid
// @import 'main-new'; // Main site components

.wrapper {
	@extend .inner;
}

.order-full-txt {
	@extend p;
}

.order-full-txt-alert,
.order-full-txt-alert2 {
	@extend %meta;
	@extend %alert;
	margin-top: $base;
	margin-bottom: $base;
}

// Header

.section {
	@extend %meta;
}

.header {
	margin-bottom: $base;
	margin-top: $base;
	background-color: $accent-vlight;
}

.service {
	font {
		display: block;
		font-size: $sml/1.25;
	}
}

// Product rows and options

.product,
.sub-section,
.header {
	@extend %clearfix;
	border-bottom: 1px solid $accent-vlight;
	margin-bottom: $sml;
}

	.product-nodivs,
	.sub-products {
		@extend %clearfix;
		@include make-xs-column(12);
		input {
			width: 12.5%;
			display: inline-block;
		}
	}

	.product-nodivs {
		@include make-sm-column(9);
	}


.choices,
.nochoice {
	@include make-sm-column(1.5);
	input {
		margin-bottom: $sml/2;
	}
}

.product-description,
.product-description-nores {
	@include make-xs-column(12, false);
	@include make-sm-column(3.5, false);	
	font-weight: 700;
}

.qualities {
	@include make-xs-column(12, false);
	@include make-sm-column(4);	
}

.price {
	@include make-xs-column(4, false);
	@include make-sm-column(1.5);	
	// float: right;
	color: $text-med;
	text-align: center;
}

.product-total {
	@include make-xs-column(4, false);
	// @include make-xs-column-pull(4, false);
	@include make-sm-column(1.5);
	text-align: center;
}

.qualities {
	font-size: $sml/1.25;
}

.qualities,
.price,
.product-total,
.product-description {
	margin-top: $sml/3;
}

input {
	padding: $sml/3 $sml/2;
	text-align: center;
}






// Typography

%title-base {
	padding: $sml/2 $sml;
}

.section-title, {
	@extend %h4;
	@extend %title-base;
}

	.section-title,
	.service {
		@include make-sm-column(6);
	}

.sub-section-title,
.section-title-long {
	@extend %title-base;
	@extend h5;
}



