// Reset
@import 'config/normalize';

// Variables
@import 'config/settings';

// Dynamic
@import 'config/mixins';
@import 'config/bs-mixins';
@import 'config/bs-classes';
@import 'config/extends';

@import 'site/all';
@import 'blocks/block-quoter';


$grid-columns: 12;

@for $i from 1 to $grid-columns {
    .col-xs-#{$i} { @include make-xs-column($i); }
    .col-xs-push-#{$i} { @include make-xs-column-push($i); }
    .col-xs-pull-#{$i} { @include make-xs-column-pull($i); }
    // .col-xs-#{$i}-offset { @include make-xs-column-offset($i); }
    .col-xs-#{$i}-np { @include make-xs-column($i, 0); }

}
@for $i from 1 to $grid-columns {
    .col-sm-#{$i} { @include make-sm-column($i); }
    .col-sm-push-#{$i} { @include make-sm-column-push($i); }
    .col-sm-pull-#{$i} { @include make-sm-column-pull($i); }
    .col-sm-offset-#{$i} { @include make-sm-column-offset($i); }
    .col-sm-#{$i}-np { @include make-sm-column($i, 0); }
}
@for $i from 1 to $grid-columns {
    .col-md-#{$i} { @include make-md-column($i); }
    .col-md-push-#{$i} { @include make-md-column-push($i); }
    .col-md-#{$i}-pull { @include make-md-column-pull($i); }
    .col-md-#{$i}-np { @include make-md-column($i, 0); }
    // .col-md-#{$i}-offset { @include make-md-column-offset($i); }
}
@for $i from 1 to $grid-columns {
    .col-lg-#{$i} { @include make-lg-column($i); }
    .col-lg-push-#{$i} { @include make-lg-column-push($i); }
    .col-lg-pull-#{$i} { @include make-lg-column-pull($i); }
    .col-lg-#{$i}-np { @include make-lg-column($i, 0); }

    .col-lg-offset-#{$i} { @include make-lg-column-offset($i); }
}




@import 'elements/all'; // Roots elements

@import 'site/all'; // Main site components


// Structural Hacks

#wrapper {
	padding-top: $h1*2;
}

.site-header {
	@include rotate();
}

// ----
// Order Form
// ----

// Note that these styles are not ideal at all - 
// someone else created the order form, and my role
// was to give it a nicer skin to match 
// the rest of the site which I redid
// @import 'main-new'; // Main site components

.wrapper {
	@extend .contain;
	@extend .inner;
}

.order-full-txt {
	@extend p;
}

.order-full-txt-alert,
.order-full-txt-alert2,
.order-full-txt-alert3,
.pickup-notice {
	@extend %meta;
	@extend %alert;
	@extend .clearfix;
	margin-top: $base;
	margin-bottom: $base;
}

#order-form {
	h1 {
		@extend %h3;
		text-align: center;
		margin-bottom: $base;
	}
}
.lead {
	text-align: center;
}

// Section

.section,
.order-table {
	@extend %meta;
}

.section {
	@extend %clearfix;
	@include bp(large) {
		@include make-row($h2);
	}

	// background-color: $accent-vlight;
	padding-left: $base;
	padding-right: $base;
	// @include make-xs-column(12);
	margin-bottom: $base;
	border: 2px solid lighten($text-med, 25%);
}


// Header

.header {
	margin-bottom: $base;
	@include make-row();
	padding: $base;
	// background-color: $accent-vlight;
	// border-bottom: 2px solid $accent-med;
	border-bottom: 2px solid $accent-med;
	// background-color: lighten($text-med, 25%);
	@include rotate($text-light, $accent-dark);
}

.service {
	font {
		display: block;
		font-size: $sml/1.25;
	}
	text-align: center;
}

	input[type="radio"] {
		display: inline-block;
		margin-left: $sml/4;
		margin-right: $base;

	}



// Product rows and options

.product,
.sub-section,
.product-drive {
	@extend %clearfix;
	margin-bottom: $sml;
}

	.product {
		border-bottom: 1px solid $accent-vlight;
	}

	.product-nodivs,
	.sub-products {
		@extend %clearfix;
		@include make-xs-column(12);
		input {
			width: 25%;
			@include bp(small) {
				width: 12.5%;	
			}
			
			display: inline-block;
		}
	}

	.provided {
		@include make-xs-column(12);
		@extend .clearfix;
		margin-bottom: $base;
	}

		input.included,
		.product-drive .product-input {
			width: 25%;
			@include bp(small) {
				width: 7.5%;
			}
			margin-right: $base;

		}

	.provided-drive-choices {
		@include make-xs-column(8);
		display: inline-block;
		float: right;
	}

	.will-bring {
		display: none;
	}
	
	.product-nodivs {
		@include make-xs-column(9);
	}

.product-input {
	text-align: center;
}

.choices,
.nochoice {
	@include make-xs-column(3, false);
	@include make-sm-column(1.5);
	input {
		text-align: center;
		margin: auto;
		display: block;
		margin-bottom: $sml/2;
	}
}

	.tiff .choices {
		width: 0;
		padding: 0;
	}
	

#total {
	font-family: $form-font;
	@extend .clearfix;

}

#sub-total,
#grand-total,
#tax-total {
	@include make-sm-column(5);
	text-align: right;
}

#total div {
	// padding-top: $sml;
	padding-bottom: $sml;
}

#grand-total,
#grand-title {
	@extend %h4;
	border-top: $accent-border;
}

#grand-total,
#grand-title {
	padding-top: $sml;
}

.product-description,
.product-description-nores,
#sub-title,
#grand-title,
#tax-title {
	@include make-xs-column(7, false);
	font-weight: 700;
}

	.product-description {
		@include make-xs-column(12, false);
		@include make-sm-column(3.5, false);
	}

	.product-description-nores {
		@include make-xs-column(12, false);
		@include make-sm-column(7.5, false);
	}

.qualities {
	// @include make-xs-column(12, false);
	@include make-xs-column(12);	
	@include make-sm-column(4);	
}

.price {
	@include make-xs-column(6, false);
	@include make-sm-column(1.5, false);
	// float: right;
}

.price {
	color: $text-med;
	text-align: center;
}

.product-total {
	@include make-xs-column(6, false);
	// @include make-xs-column-pull(4, false);
	@include make-sm-column(1.5, false);
	text-align: center;
}
	
	.product-drive .product-input,
	.drive-description {
		float: left;
		display: inline-block;
	}

	.drive-description {
		font-weight: 700;
	}

	// .product-drive .product-input {
	// 	width: 7.5%;
	// 	margin-right: $base;
	// }

.drives {
	@include make-xs-column(7);
}

.product-description-drives {
	@include make-xs-column(2);
	font-weight: 700;
}

.qualities {
	font-size: $sml/1.25;
}

.qualities,
.price,
.product-total,
.product-description {
	margin-top: $sml/3;
}

input,
textarea {
	@extend %form-base;
}


// Purchase

.purchase {
	@include make-xs-column(12);
}



// Typography

%title-base {
	// padding: $sml/2 $sml;

}

.sub-section-title,
.section-title-long {
	// @extend %title-base;
	@extend %h5;
	margin-bottom: $base;
	margin-top: $h4;
	padding-left: $base;
	padding-bottom: $sml/2;
	border-bottom: $accent-border;
}

.section-title,
#output .section-title-long,
#questions .section-title-long {
	@extend %h4;
	font-weight: 700;
	bottom: -$sml/2;
	// @extend %title-base;
}

#output .section-title-long,
#questions .section-title-long {
	padding-left: 0;
	padding-bottom: 0;
	border-bottom: none;
	margin: 0;
}

	.section-title,
	.service {
		@include make-xs-column(6, false);
	}


input[type="text"] {
	border-radius: 3px;

	&:focus {
		border: 1px solid $accent-dark;
		// border-right: 2px solid $accent-med;
	}
}

// Contact Info Table

.order-table {
	tr:not(.pickup-notice) td:first-child {
		text-align: right;
		@include make-xs-column(2, false);
		@include make-md-column(2, false);
		@include make-md-column-offset(1);
	}

	td[align="left"] {
		@include make-xs-column(10, false);
		@include make-md-column(8, false);
		input[type="text"],
		textarea {
			@include make-xs-column(12, false);
			@include make-md-column(8, false);
			@include make-lg-column(10, false);
		}
	}

	tr:last-child td {
		@include make-xs-column(10);
		@include make-xs-column-push(2);

		text-align: center;
	}
}

	tr.pickup-notice {
		@include make-xs-column(12, false);
		// @include make-md-column(10);
		// @include make-md-column-push(1);

		td:first-child {
			text-align: left;
			@include make-xs-column(12, false);
		}

	}




// ----
// Status
// ----

#order-summary {
	h1 {
		@extend %h4;
		margin-bottom: $base;
		text-align: center;	
		border-bottom: $accent-border;
	}
}

.sum-table {
	@extend %meta;

	tr {
		border-bottom: 1px solid $text-medlight;
	}

	&.summary {

	}

	td:last-child {
		width: percentage(2/3) !important;	
	}
}

	.sum-table-right {
		text-align: right;
		padding-right: $base;
		@extend %meta-light;
		@extend %upperspace;
		width: percentage(1/3) !important;
	}


// ----
// Main site overrides
//----

.widget {
	@include make-md-column(4);
}





// fieldset:last-of-type {
// 	background-color: green;
// }



// QQ Form
// .reveal-if-active {
//   opacity: 0;
//   max-height: 0;
//   overflow: hidden;
// }

// input[type="radio"]:checked ~ .reveal-if-active,
// input[type="checkbox"]:checked ~ .reveal-if-active {
//   opacity: 1;
//   max-height: 100px; /* little bit of a magic number :( */
//   overflow: visible;
// }

.closed {
	display: none;
}

#resResults {
	display: none;
}

.panel {
	padding: $base;
	border: $accent-border;

	input[type="radio"] {
		opacity: 0;
		width: 100%;
		position: absolute;
		vertical-align: middle;
		padding: $base;
	}

	label {
		padding: $base;
		// background-color: $accent-light;
		cursor: pointer;
	}
}

	.panel-title {
		text-align: center;
	}

.choices-list {
	list-style: none;
	text-align: center;

	li {
		display: inline-block;
		position: relative;
		margin: $sml;
	}
}

.selected {
	background-color: $alert-success;
}
