
@import 'config/all'; // Mixins, variables, and tools that do not output code
@import 'elements/all'; // Roots elements

@import 'site/base'; // Main site components
@import 'site/page'; // Main site components
@import 'site/header'; // Main site components
@import 'site/footer';
@import 'site/nav';

@import 'utility'; // For prototyping and should not be used in production
@import 'holding'; // Styles that need to be removed and handled differently

@import 'main-new';


.wrapper,
#wrapper {
	width: 900px;
	@include clearfix;
}

.order-page {

h1 {
	font-size: $h2;
	text-align: center;
}

#orderpage {
	padding: 0;
	width: 100%;
}

.order-table {
	background-color: $body-bkgd;
}

.order-full-txt {
	font-size: $h4;
	line-height: $line-height-base;
}

.order-full-txt-alert2,
.order-full-txt-alert,
.order-full-txt-alert3,
#pickup-delivery,
.error-quantity {
	padding: 15px;
	width: 100%;
	clear: both;
	margin: $sml auto $sml auto;
	background-color: $accent-vlight;
	margin-bottom: $base;
	font-family: $sans-serif;
}

.error-quantity {
	font-size: 14px;
}

#questions .order-full-txt-alert2 {
	margin-bottom: 0;
}

.required,
.error-input {
	background-color: $accent-vlight;
}

.lead {
	text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
	width: 15px;
	height: 15px;
	margin-top: 0;
}

input[type="submit"],
.order-table input[type=submit] {
	@extend .btn-success;
	height: auto;
}

.sub-products {
	font-size: 14px;
}

.product-description,
.product-description-nores,
.drive-description {
	// font-weight: normal;
	font-size: 16px;
}

.drive-description,
.drives,
.provided,
.product-drive {
	font-size: 14px;
}

.purchase {
	width: 100%;
	margin-top: 14px;
}

#total {
	width: 100%;
	& > div {
		border-bottom: 1px solid $accent-vlight;
	}
	// padding-right: 14px;

	#sub-title, 
	#tax-title,
	#grand-title {
		width: 75%
	}

	#sub-total, 
	#tax-total,
	#grand-total {
		font-weight: normal;
		text-align: left;
		width: 25%
	}
}

// Forms

*:focus {
    outline: 0;
}

input[type="text"],
textarea {
	border-radius: 3px;
	border: 1px solid $accent-med;
	
	&:focus {
		border: 1px solid $accent-dark;
		// border-right: 2px solid $accent-med;
	}
}


.section-title,
.service,
.section-title-long,
#total {
	background-color: $accent-dark;
}

.sub-section-title {
	background: none;
	border-bottom: $accent-border;
	color: $text-dark;
}

.section {
	@extend .clearfix;
	margin-bottom: $h1;
}

// Header

.header {
	@include clearfix;
	margin-bottom: $base;
	padding: $sml;
	border-bottom: 2px solid $accent-med;
	background-color: $accent-dark;
}

.product {
	border-bottom: 1px solid $accent-vlight;
	padding-top: $sml;
	padding-bottom: $sml;
}


} // END .order-page







// ----
// Advisor
// ----


#resResults {
	display: none;
}



.panel {
	position: relative;
	padding: 0;
	border: 0;
	margin-bottom: $base;
	// background-color: $accent-vlight;

	&:nth-child(2n) {
		// background-color: lighten($accent-med, 25%);

		.arrow-down {
			border-top-color: lighten($accent-med, 25%);
		}
	}
	// margin-bottom: $base;

	input[type="radio"] {
		opacity: 0;
		width: 100%;
		position: absolute;
		vertical-align: middle;
		padding: $base;
		z-index: -1;
	}

	label {
		cursor: pointer;
		@extend .btn-cta;
		font-weight: normal;
	}
}

	.results {
		// background-color: $body-bkgd;
	}

	.panel-title {
		// text-align: center;
		margin-bottom: $base;
		// font-weight: normal;
	}

.choices-list {
	list-style: none;
	// text-align: center;

	:checked+label {
		background-color: $alert-success;
	}

	li {
		display: inline-block;
		position: relative;
		margin: $sml;

	}
}


// Status Page

.sum-table, 
.order-table {
	width: 100%;

	td {
		padding: 10px;
	}
}

.order-table {
	td {
		color: $text-dark;
	}
	
	input[type=submit] {
		width: auto;
	}

	input[type=text] {
		width: 350px;
		margin-left: 0;
		height: 40px;
	}
}

.sum-table tr:nth-child(even) {
	background-color: $table-rotate;
}

.sum-table-right {
	@include upperspace;
	width: 50%;

}

#order-summary {
	h1 {
		font-size: $h3;
		border-bottom: $accent-border;
	}

	table {
		margin-bottom: $h3;
	}
}

#column-1 h3 {
	font-size: $base;
	margin-top: 0;
	margin-bottom: $h4;
}

.no-print {
	background-color: transparent;
}

th {
	background-color: $accent-vlight;
	border-color: $text-medlight;
	color: $text-dark;
}

.sum-dark {
	border-top: 3px solid $text-light;
	@include rotate($text-light, $accent-dark);
}


.totals tr,
.totals td,
.sum-grand {
	background-color: $accent-dark;
	font-size: 24px;
	color: $text-light;
	text-align: left;
}

.sum-grand {
	width: 75%;
	text-align: right !important;
}