<div class="block b-all">
	<div class="b2-b4">
	
		<h3 class="note-child">Block</h3>
		{% block content %}
			<p>Nothing in this Block</p>
		{% endblock %}
	
	</div>
</div> <!-- /.block -->
                