
<div class="block {{block_class}}">
	<div class="content-contain">
		
		{% block content %}
			<p>Nothing in this Block</p>
		{% endblock %}
		
	</div>
</div> <!-- /.{{block_class}} -->
                