{% extends "blocks/block.twig" %}

{% block content %}
	<div class="inner-full">

		{% if blck.text_location == 'right'%}
			<div class="image">
				<img src="{{TimberImage(blck.image).src|resize(800)}}" alt="">
			</div>
			<div class="caption">
				<p class="meta">{{blck.text}}</p>
			</div>
		{% else %}
			<div class="caption">
				<p class="meta">{{blck.text}}</p>
			</div>
			<div class="image">
				<img src="{{TimberImage(blck.image).src|resize(800)}}" alt="">
			</div>
		{% endif %}	

	</div>
{% endblock %}