.shape {
	max-width: 100%;

}

.shape-logo {
	max-width: 100px;
	max-height: 40px;
	fill: $text-light;
	padding-top: $sml;

	// top: $xsml;
	position: relative;

	@include bp(med) {
		top: 0;
		max-height: 50px;
	}
}

.shape-yelp {
	width: 80%;
	max-height: 100px;
}