.shape {
	max-width: 100%;
}

.shape-logo {
	max-width: 70px;
	max-height: 60px;
	fill: $text-light;
	padding-top: $sml;
	position: relative;

	@include bp(med) {
		max-width: 100px;
		top: 0;
		max-height: 100px;
	}

	@include bp(large) {
		// max-width: 150px;
	}
}

.shape-yelp {
	width: 80%;
	max-height: 100px;
}


// Icons

.in-btn {
    margin-left: $xsml/2;
    position: relative;
    top: 2px;
    color: $accent-light;
}


.icon-google-plus-square {
	color: $alert-danger;
	font-size: $h4;
}

.icon-facebook-square {
	color: $alert-info;
	font-size: $h4;
}