

// ----
// Layout
// ----

%container {
    margin: 0 auto;
    @include container();
}

%row {
    @include make-row();
}

%clearfix {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

%center-block {
    margin: 0 auto;
    display: block;
}

%img-full {
    width: 100%;
}




// ----
// Typography
// ----







// ----
// Lists
// ----

%unstyle-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}






// Hold


%block {
	padding: $h4 $h3;
}


.show-until-sm, 
%show-until-sm {
   	display: none;
    @media (min-width: $screen-sm) {
        display: block; 
    }   
}

.hide-until-sm, 
%hide-until-sm {
	@media (min-width: $screen-sm) {    
        display: none;
    }
}

%rotate {
	color: $rotate-text;
	background-color: $rotate-bkgd;
}

%upperspace {
    text-transform: uppercase;
}

.meta,
%meta {
    font-size: $sml;
    font-family: $form-font;
    margin: 0;
}

    %meta-light {
        @extend %meta;
        color: lighten($text-med, 30%);
    }

    %meta-dark {
        @extend %meta;
        color: $text-med;
    }


// Forms

%btn {
    border: none;
    padding: $sml/2 $sml;
    font-family: $form-font;
}

%btn-block {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

