

// A few coding conventions to note about @extends:
// - Placeholders used in layouts are separated with underscores
// - Used wherever possible for any redundant layout functionality



// ----
// Layout
// ----

%row {
    @include make-row();
}

%clearfix,
.clearfix {
    @include clearfix;
}

%center-block {
    margin: 0 auto;
    display: block;
}

%img_full {
    width: 100%;
}

%full_at_base {
    @include make-xs-column(12);
}

%pad_base {
    padding: $base;
}

%pad_tb {
    padding: $base 0;
}




// ----
// Content
// ----


%img_highlight {
    border: $accent-border;
}


// Alerts

%alert,
.alert {
    @include rotate($text-dark, $accent-vlight);
    padding: $base;
}



// ----
// Typography
// ----







// ----
// Lists
// ----

%unstyle-list {
    list-style: none;
}

%horizontal-list {
    ul {
        @extend %unstyle-list;
    }
    
    li {
        display: inline-block;    
    }
}

%horizontal-list-center {
    text-align: center;
    @extend %horizontal-list;
}



// ----
// Typography
// ----

%upperspace {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.meta,
%meta {
    font-size: $sml;
    font-family: $form-font;
    margin: 0;
}






// Hold


%form-base {
    padding: $sml/3 $sml/2;
    font-family: $form-font;
}


%block {
	padding: $h4 $h3;
}


.hide-until-md, 
%hide-until-md {
   	display: none !important;
    @include bp(med) {
        display: inline-block !important; 
    }   
}

.hide-after-md, 
%hide-after-md {
	@include bp(med) {
        display: none !important;
    }
}

%rotate {
	color: $rotate-text;
	background-color: $rotate-bkgd;
}

    %meta-light {
        @extend %meta;
        color: $text-med;
    }

    %meta-dark {
        @extend %meta;
        color: $text-med;
    }


// Forms

%btn {
    border: none;
    padding: $sml/2 $sml;
    font-family: $form-font;
    @include button($accent-med, $text-light);
}

%btn-block {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

